/* Cài đặt mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  font-family: "Quicksand";
}

/* Thanh Navbar điều hướng */
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  position: fixed;
  top: 0px;

  box-shadow: 0px 0px 10px #acb6e5;

  width: 100%;
  background-color: white;

  z-index: 1000;
}

.navbar-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  gap: 20px;
}

.logo-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
  object-fit: cover;
}

.list-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  list-style-type: none;
}

.link-nav {
  display: block;

  background-color: transparent;
  color: rgba(0, 0, 0, 0.696);
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;

  transition: background-color 0.25s, color 0.25s;
}

.link-nav:hover {
  background-color: rgba(135, 135, 135, 0.498);
  color: black;
}

#Home::before {
  content: "\f015";
  font-family: "FontAwesome";

  position: relative;
  right: 5px;
}

#Book::before {
  content: "\f02d";
  font-family: "FontAwesome";

  position: relative;
  right: 5px;
}

#Website::before {
  content: "\f57d";
  font-family: "FontAwesome";

  position: relative;
  right: 5px;
}

.navbar-extra {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  gap: 5px;
}

#Github {
  background-color: white;
  color: rgba(0, 0, 0, 0.829);
  border-radius: 0;
  cursor: pointer;

  transition: background-color 0.25s, color 0.25s, border-radius 0.25s;
}

#Github:hover {
  background-color: rgba(135, 135, 135, 0.498);
  color: black;
  border-radius: 10px;
}

/* Nội dung phần Home Trang Chủ */
main {
  position: relative;
  top: 45px;

  font-family: "Open Sans";
}

.head-main {
  scale: 1;
  display: inline-block;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: visible;
  position: relative;
}

.Head1 {
  font-size: 15em;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  -webkit-text-stroke: 02px #fff;
  position: absolute;
  inset-inline: 0;
  top: 0%;
  text-align: center;
  z-index: 2;
}

.classimg {
  width: 100%;
  display: block;
  box-shadow: 0px 6px 15px gray;
  filter: brightness(90%);
  z-index: 0;
}

.classimg2 {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 1.99%;
  filter: brightness(90%);
  z-index: 3;
}

.introduction-p {
  margin-top: 10px;

  color: rgba(0, 0, 0, 0.696);
  font-family: "Quicksand";
  text-align: center;
}

.content-main {
  display: grid;
  grid-template-columns: 2fr auto auto;
  grid-template-rows: 125px 315px auto;
  grid-template-areas:
    "header header image"
    "content content image"
    "content content image"
    "footer footer footer";

  row-gap: 5px;
  column-gap: 10px;
  align-items: start;
}

.Head2 {
  grid-area: header;

  margin: 0;
  padding: 0;

  min-height: 120px;

  font-size: 2.7em;
  text-align: center;
}

.content {
  grid-area: content;
  grid-column: 1/2;
  grid-row: 2/3;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  gap: 5px;

  margin-left: 0;
  padding: 0;
  height: 100px;
}

.information {
  margin-bottom: 10px;

  color: black;
  font-family: "Quicksand";
  font-size: 1.5em;
  text-align: center;
}

.btn-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  gap: 50px;
}

.image {
  grid-area: image;

  margin-right: 5px;

  width: 700px;
  height: auto;
  object-fit: cover;

  border-radius: 15px;
  justify-self: start;
}

.link-vid {
  display: block;

  padding: 10px 15px;

  color: white;
  background-color: rgb(183, 40, 255);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 0px;
  text-decoration: none;

  transform: scale(1);
  transition: background-color 0.25s, color 0.25s, border-radius 0.25s,
    box-shadow 0.25s, transform 0.5s;
}

.link-vid:hover {
  background-color: rgb(170, 0, 255);
  color: aliceblue;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(228, 120, 255, 0.836);
  transform: scale(1.2);
}

.link-vid::before {
  content: "\f008";
  font-family: FontAwesome;

  position: relative;
  right: 5px;
}

.link-text {
  display: block;

  padding: 10px 15px;

  color: white;
  background-color: rgb(0, 158, 155);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 0px;
  text-decoration: none;

  transform: scale(1);
  transition: background-color 0.25s, color 0.25s, border-radius 0.25s,
    box-shadow 0.25s, transform 0.5s;
}

.link-text:hover {
  background-color: rgb(0, 221, 217);
  color: aliceblue;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(106, 255, 181, 0.836);
  transform: scale(1.2);
}

.link-text::before {
  content: "\f15b";
  font-family: FontAwesome;

  position: relative;
  right: 5px;
}

.footer {
  text-align: right;
  grid-area: footer;

  color: rgba(45, 45, 45, 0.55);
}

/* RESPONSIVE */

/* Điện thoại */
@media (max-width: 500px) {
  /* logo */
  .logo-nav {
    width: 100%;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
  }

  /* menu */
  .list-nav {
    flex-direction: row;
    /* không xuống hàng */
    flex-wrap: nowrap;
    text-wrap: nowrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
    position: relative;
    left: 5%;
  }

  .content-main {
    width: 100%;
    padding: 1%;
    display: inline-block;
  }

  .head-main {
    padding-top: 15%;
    display: inline-block;
    width: 100%;
    text-wrap: nowrap;
    font-size: 0.24em;
    position: relative;
  }

  .Head1 {
    position: absolute;
    top: 25%;
  }

  .classimg {
    width: 100%;
    height: auto;
    filter: brightness(100%);
    object-fit: cover;
  }

  .classimg2 {
    display: block;
    padding-top: 15%;
    position: absolute;
    bottom: 1.6%;
    width: 100%;
    height: auto;
    filter: brightness(100%);
    object-fit: cover;
  }

  .content {
    display: flex;
    width: 100%;
    padding-top: 10%;
    display: block;
  }

  .head2 {
    width: 100%;
    flex-wrap: nowrap;
  }

  .image {
    display: block;
    margin-top: 25%;
    width: 100%;
    object-fit: cover;
  }

  .footer {
    width: 100%;
    padding-top: 15%;
    font-size: 0.8em;
  }

  .btn-link {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 60px;
  }
}


/* Được thêm vào */
/* Thông tin giới thiệu về trang web */
.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 80px 20px;
  background: linear-gradient(135deg, #f5f8ff, #e7f0ff);
  border-radius: 20px;
}

.intro-text {
  max-width: 800px;
}

.intro-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.8em;
  font-weight: 700;
  background: linear-gradient(135deg, #4285F4, #9B72CB, #D96570);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

.intro-description {
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
  font-size: 1.2em;
  color: #333;
  line-height: 1.6;
}

.intro-highlight {
  margin-top: 15px;
  font-size: 1.1em;
  color: #555;
  line-height: 1.5;
  font-style: italic;
}

/* Các bước làm sản phẩm */
.head-step {
  font-weight: bold;
  font-family: "Quicksand";
  text-align: center;
}

.step {
  margin-top: 70px;
  margin-left: 10px;

  font-family: "Quicksand";
}

.step-p {
  margin-top: 10px;
  margin-left: 10px;

  font-size: 1.3em;
}

.step-center {
  display: flex;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 50px;

  border-radius: 20px;
}

.step-img {
  width: 90%;
}


/* Phần chân trang */
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 150px;

  font-family: "Quicksand";
}

.inspiration {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr 20px;
  grid-template-areas:
    "Name Name Name"
    "Info Website Contact"
    "Footer Footer Footer";

  gap: 25px;

  width: 90%;
  min-height: 400px;

  background: linear-gradient(135deg, #9796f0, #fbc7d4);
  border-radius: 10px;
  color: aliceblue;
}

.Author {
  grid-area: Name;

  font-family: "Playwrite No";
  font-size: 3.5em;
  text-align: center;

  height: 100px;
  padding-top: 1%;
}

.head-footer {
  padding-top: 8%;
}

/* Phần thông tin địa chỉ */
.info {
  grid-area: Info;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  text-align: center;
}

/* Phần trang website khác */
.website {
  grid-area: Website;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  text-align: center;
}

.link-footer {
  color: aliceblue;
}

.head-footer {
  text-shadow: 0px 0px 3px aliceblue;
}

.contact {
  grid-area: Contact;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  text-align: center;
}

.name-author {
  margin-bottom: 10px;
}

.footer-inspiration {
  grid-area: Footer;

  color: rgba(255, 255, 255, 0.781);
  text-align: center;
}

/* Boxunsee */
.box-unsee {
  position: relative;
  top: 450px;

  width: 100%;
  height: 30px;
}